<%= form_for(resource, as: resource_name, url: registration_path(resource_name), local: true) do |f| %>
  <%= devise_error_messages! %>
  <div class="row" id="student_info">
    <div class="col s12">
      <div class="card col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix">school</i>
          <%= f.label :grade %>
          <%= f.text_field :grade, class: "materialize-textarea" %>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">star</i>
          <%= f.label :self_promotion %>
          <%= f.text_area :self_promotion, class: "materialize-textarea" %>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">laptop</i>
          <%= f.label :skill %>
          <%= f.text_area :skill, class: "materialize-textarea" %>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">local_library
</i>
          <%= f.label :quolification %>
          <%= f.text_area :quolification, class: "materialize-textarea" %>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">details</i>
          <%= f.label :theme %>
          <%= f.text_area :theme, class: "materialize-textarea" %>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">details</i>
          <%= f.label :abstract %>
          <%= f.text_area :abstract, class: "materialize-textarea" %>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">business</i>
          <%= f.label :part_time_job %>
          <%= f.text_area :part_time_job, class: "materialize-textarea" %>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">business</i>
          <%= f.label :internship %>
          <%= f.text_area :internship, class: "materialize-textarea" %>
        </div>

        <div class="input-field col s12">
          <p><i class="material-icons prefix">directions_run</i>
          <%= f.label :job_hunting_status %></p>
          <%= f.select :job_hunting_status, User.job_hunting_statuses.keys %>
        </div>

        <div class="input-filed col s12">
          <p><i class="material-icons prefix">domain
</i>
          <%= f.label :industry %>
          <%= f.collection_select :industry_id, Industry.all, :id, :name %>
        </div>

        <div class="input-filed col s12">
          <p><i class="material-icons prefix">location_on
</i>
          <%= f.label :workplace %>
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
        </div>

        <div class="input-filed col s12">
          <p><i class="material-icons prefix">perm_identity</i>
          <%= f.label :occupation %>
          <%= f.collection_select :occupation_id, Occupation.all, :id, :name %>
        </div>

      </div>
    </div>
  </div>
<% end %>
