<h4>ユーザ情報の設定</h4>
<div class="row">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
  <!-- 全ユーザに共通の要素(Companyは考慮していない) -->
    <div class="row" id = "common_info">
      <div class="col s12">
        <div class="card col s12">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <%= f.label :メールアドレス %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="input-field col s12">
            <div class="col s6">
              <i class="material-icons prefix">person</i>
              <%= f.label :姓 %>
              <%= f.text_field :last_name %>
            </div>
            <div class="col s6">
              <%= f.label :名 %>
              <%= f.text_field :first_name %>
            </div>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <%= f.label :新しいパスワード %>
            <%= f.password_field :password, autocomplete: "new-password" %>
            <p>※変更しない場合は入力は不要です。
            <% if @minimum_password_length %>
              <br />
              <em>パスワードは<%= @minimum_password_length %>文字以上</em>
            <% end %>
            </p>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <%= f.label :新しいパスワードの再確認 %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <%= f.label :現在のパスワード %>
            <%= f.password_field :current_password, autocomplete: "current-password" %>
            <p>※パスワードの変更には現在のパスワードを入力する必要があります。</p>
          </div>

          <div class="input-field col s12">
            <p><i class="material-icons prefix">settings</i>
            <%= f.label :ユーザ種別 %></p>
            <%= f.select :type, User.types.keys%>
          </div>

          <div class="input-filed col s12" id="set_university">
            <p><i class="material-icons prefix">school</i>
            <%= label_tag :大学 %></p>
            <%= select_tag :university_id ,options_from_collection_for_select(University.all, :id, :name)%>
          </div>
<!--           <div class="input-filed col s12">
            <p><i class="material-icons prefix">school</i>
            <%= label_tag :学部・研究科 %></p>
            <%= select_tag :course ,options_from_collection_for_select(Course.all, :id, :name)%>
          </div> -->

<!--           <div class="input-filed col s12">
            <p><i class="material-icons prefix">school</i>
            <%= f.label :学科・専攻 %>
            <%= f.collection_select :major_id, Major.all, :id, :name %>
          </div> -->

          <div class="input-field col s12">
            <i class="material-icons prefix">edit</i>
            <%= f.label :自己紹介 %>
            <%= f.text_field :description %>
          </div>

          <div class="input-field col s12">
            <p><i class="material-icons prefix">account_circle</i>
            <%= f.label :アイコン画像 %></p>
            <%= f.file_field :image %>
          </div>
        </div>
      </div>
    </div>

    <!-- For Student -->
    <div class="row" id="student_info" style="display:none">
      <div class="col s12">
        <div class="card col s12">
          <div class="input-field col s12">
            <i class="material-icons prefix">school</i>
            <%= f.label :学年 %>
            <%= f.text_field :grade%>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">star</i>
            <%= f.label :自己アピール %>
            <%= f.text_area :self_promotion, class: "materialize-textarea" %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">laptop</i>
            <%= f.label :スキル %>
            <%= f.text_area :skill, class: "materialize-textarea" %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">local_library
  </i>
            <%= f.label :資格 %>
            <%= f.text_area :quolification, class: "materialize-textarea" %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">details</i>
            <%= f.label :研究テーマ %>
            <%= f.text_area :theme, class: "materialize-textarea" %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">details</i>
            <%= f.label :研究概要 %>
            <%= f.text_area :abstract, class: "materialize-textarea" %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">business</i>
            <%= f.label :アルバイト歴 %>
            <%= f.text_area :part_time_job, class: "materialize-textarea" %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">business</i>
            <%= f.label :インターンシップ歴 %>
            <%= f.text_area :internship, class: "materialize-textarea" %>
          </div>

          <div class="input-field col s12">
            <p><i class="material-icons prefix">directions_run</i>
            <%= f.label :就職活動の状況 %></p>
            <%= f.select :job_hunting_status, User.job_hunting_statuses.keys %>
          </div>

          <div class="input-filed col s12">
            <p><i class="material-icons prefix">domain
  </i>
            <%= f.label :志望業界 %>
            <%= f.collection_select :industry_id, Industry.all, :id, :name %>
          </div>

          <div class="input-filed col s12">
            <p><i class="material-icons prefix">location_on
  </i>
            <%= f.label :志望勤務地 %>
            <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
          </div>

          <div class="input-filed col s12">
            <p><i class="material-icons prefix">perm_identity</i>
            <%= f.label :志望職種 %>
            <%= f.collection_select :occupation_id, Occupation.all, :id, :name %>
          </div>
        </div>
      </div>
    </div>

    <!-- For Professor -->
    <div class="row" id="professor_info" style="display:none">
      <div class="col s12">
        <div class="card col s12">
          <div class="input-field col s12">
            <i class="material-icons prefix">event_seat</i>
            <%= f.label :役職 %>
            <%= f.text_field :position %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">business_center</i>
            <%= f.label :キャリア %>
            <%= f.text_area :career, class: "materialize-textarea" %>
          </div>
        </div>
      </div>
    </div>

    <!-- Submit -->
    <div class="row">
      <div class="actions col s12">
        <%= f.submit "更新" , class: "btn grey-text text-darken-2 white" %>
      </div>
    </div>
  <% end %>
</div>

<h4>アカウント削除</h4>

<p> <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当にアカウントを削除してよろしいですか?" }, method: :delete , class: "btn grey-text text-darken-2 white" %></p>

<%= link_to "戻る", :back , class: "btn grey-text text-darken-2 white"%>

<script>
  var user_type
  // 読み込み時
  $(document).ready(function() {
    // create current user_type form
    user_type = document.getElementById("user_type").value;
    if(user_type == 'Student') {
      document.getElementById('student_info').style.display = "";
    }else if(user_type == 'Professor') {
      document.getElementById('professor_info').style.display = "";
    }else if(user_type == 'Company'){
    }
  });

  // user_typeの変更時
  $('#user_type').change(function() {
    // delete previous user_type form
    if(user_type == 'Student') {
      document.getElementById('student_info').style.display = "none";
    }else if(user_type == 'Professor') {
      document.getElementById('professor_info').style.display = "none";
    }else if(user_type == 'Company'){
    }

    // create current user_type form
    user_type = document.getElementById("user_type").value;
    if(user_type == 'Student') {
      document.getElementById('student_info').style.display = "";
    }else if(user_type == 'Professor') {
      document.getElementById('professor_info').style.display = "";
    }else if(user_type == 'Company'){
    }
});
</script>