<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="row">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
  <!-- 全ユーザに共通の要素(Companyは考慮していない) -->
    <div class="row" id = "common_info">
      <div class="col s12">
        <div class="card col s12">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="input-field col s12">
            <div class="col s6">
              <i class="material-icons prefix">person</i>
              <%= f.label :last_name %>
              <%= f.text_field :last_name %>
            </div>
            <div class="col s6">
              <%= f.label :first_name %>
              <%= f.text_field :first_name %>
            </div>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "new-password" %>
            <p>(leave blank if you don't want to change it)
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
            </p>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <%= f.label :current_password %>
            <%= f.password_field :current_password, autocomplete: "current-password" %>
            <p>(we need your current password to confirm your changes)</p>
          </div>

          <div class="input-field col s12">
            <p><i class="material-icons prefix">settings</i>
            <%= f.label :type %></p>
            <%= f.select :type, User.types.keys%>
          </div>

          <div class="input-filed col s12" id="set_university">
            <p><i class="material-icons prefix">school</i>
            <%= label_tag :university %></p>
            <%= select_tag :university_id ,options_from_collection_for_select(University.all, :id, :name)%>
          </div>
<!--           <div class="input-filed col s12">
            <p><i class="material-icons prefix">school</i>
            <%= label_tag :course %></p>
            <%= select_tag :course ,options_from_collection_for_select(Course.all, :id, :name)%>
          </div> -->

<!--           <div class="input-filed col s12">
            <p><i class="material-icons prefix">school</i>
            <%= f.label :major %>
            <%= f.collection_select :major_id, Major.all, :id, :name %>
          </div> -->

          <div class="input-field col s12">
            <i class="material-icons prefix">edit</i>
            <%= f.label :description %>
            <%= f.text_field :description %>
          </div>

          <div class="input-field col s12">
            <p><i class="material-icons prefix">account_circle</i>
            <%= f.label :image %></p>
            <%= f.file_field :image %>
          </div>
        </div>
      </div>
    </div>

    <!-- For Student -->
    <div class="row" id="student_info" style="display:none">
      <div class="col s12">
        <div class="card col s12">
          <div class="input-field col s12">
            <i class="material-icons prefix">school</i>
            <%= f.label :grade %>
            <%= f.text_field :grade%>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">star</i>
            <%= f.label :self_promotion %>
            <%= f.text_area :self_promotion, class: "materialize-textarea" %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">laptop</i>
            <%= f.label :skill %>
            <%= f.text_area :skill, class: "materialize-textarea" %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">local_library
  </i>
            <%= f.label :quolification %>
            <%= f.text_area :quolification, class: "materialize-textarea" %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">details</i>
            <%= f.label :theme %>
            <%= f.text_area :theme, class: "materialize-textarea" %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">details</i>
            <%= f.label :abstract %>
            <%= f.text_area :abstract, class: "materialize-textarea" %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">business</i>
            <%= f.label :part_time_job %>
            <%= f.text_area :part_time_job, class: "materialize-textarea" %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">business</i>
            <%= f.label :internship %>
            <%= f.text_area :internship, class: "materialize-textarea" %>
          </div>

          <div class="input-field col s12">
            <p><i class="material-icons prefix">directions_run</i>
            <%= f.label :job_hunting_status %></p>
            <%= f.select :job_hunting_status, User.job_hunting_statuses.keys %>
          </div>

          <div class="input-filed col s12">
            <p><i class="material-icons prefix">domain
  </i>
            <%= f.label :industry %>
            <%= f.collection_select :industry_id, Industry.all, :id, :name %>
          </div>

          <div class="input-filed col s12">
            <p><i class="material-icons prefix">location_on
  </i>
            <%= f.label :workplace %>
            <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
          </div>

          <div class="input-filed col s12">
            <p><i class="material-icons prefix">perm_identity</i>
            <%= f.label :occupation %>
            <%= f.collection_select :occupation_id, Occupation.all, :id, :name %>
          </div>
        </div>
      </div>
    </div>

    <!-- For Professor -->
    <div class="row" id="professor_info" style="display:none">
      <div class="col s12">
        <div class="card col s12">
          <div class="input-field col s12">
            <i class="material-icons prefix">event_seat
  </i>
            <%= f.label :position %>
            <%= f.text_field :position %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">business_center</i>
            <%= f.label :career %>
            <%= f.text_area :career, class: "materialize-textarea" %>
          </div>
        </div>
      </div>
    </div>

    <!-- Submit -->
    <div class="row">
      <div class="actions col s12">
        <%= f.submit "Update" , class: "btn grey-text text-darken-2 white" %>
      </div>
    </div>
  <% end %>
</div>

<h3>Cancel my account</h3>

<p> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class: "btn grey-text text-darken-2 white" %></p>

<%= link_to "Back", :back , class: "btn grey-text text-darken-2 white"%>

<script>
  var user_type
  // 読み込み時
  $(document).ready(function() {
    // create current user_type form
    user_type = document.getElementById("user_type").value;
    if(user_type == 'Student') {
      document.getElementById('student_info').style.display = "";
    }else if(user_type == 'Professor') {
      document.getElementById('professor_info').style.display = "";
    }else if(user_type == 'Company'){
    }
  });

  // user_typeの変更時
  $('#user_type').change(function() {
    // delete previous user_type form
    if(user_type == 'Student') {
      document.getElementById('student_info').style.display = "none";
    }else if(user_type == 'Professor') {
      document.getElementById('professor_info').style.display = "none";
    }else if(user_type == 'Company'){
    }

    // create current user_type form
    user_type = document.getElementById("user_type").value;
    if(user_type == 'Student') {
      document.getElementById('student_info').style.display = "";
    }else if(user_type == 'Professor') {
      document.getElementById('professor_info').style.display = "";
    }else if(user_type == 'Company'){
    }
});
</script>