<h4>Sign up</h4>

<div class="row">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="input-field col s12">
      <i class="material-icons prefix">email</i>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="input-field col s12">
      <i class="material-icons prefix">vpn_key</i>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="input-field col s12">
      <i class="material-icons prefix">vpn_key</i>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

  <!-- email, password以外の要素 -->
    <div class="input-field col s12">
      <p><i class="material-icons prefix">settings</i>
      <%= f.label :user_type%></p>
      <%= f.select :user_type, User.user_types.keys %>
    </div>

    <div class="input-field col s12">
      <i class="material-icons prefix">edit</i>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div class="input-field col s12">
      <p><i class="material-icons prefix">tag_faces</i>
      <%= f.label :image %></p>
      <%= f.file_field :image%>
    </div>

    <div class="row">
      <div class="actions col s12">
        <%= f.submit "Sign up" , class: "btn grey-text text-darken-2 white" %>
      </div>
    </div>
  <% end %>
</div>










<!-- 
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div> -->

<!-- email, password以外の要素 -->
  <!-- <div class="field">
    <%= f.label :user_type %><br />
    <%= f.select :user_type, User.user_types.keys %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description%>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %> -->

<%= render "devise/shared/links" %>
