<div style="height: 40px;">
</div>
<h4>プロフィール</h4>
<div class = "row">
  <div class="col s12">
    <div class="card z-depth-1" style="display: flex;
						-webkit-box-orient: horizontal;
						-webkit-box-direction: normal;
						-ms-flex-direction: row;
						flex-direction: row;">
			<% if @user.image.attached? %>
        <%= image_tag @user.image, class: "responsive-img circle prefix", style: "width: 240px; height: 240px; object-fit: cover;" %>
      <% else %>
	      <i class="material-icons prefix" style="font-size: 240px;">account_circle</i>
      <% end %>
			<div style="font-size:15px">
				<p>名前：<%= @user.last_name %> <%= @user.first_name %></p>
				<p>Email：<%= @user.email %></p>
				<p>大学/大学院：</p>
				<p>学部/研究科：</p>
				<% if @user.type == 'Professor' %>
					<p>キャリア：<%= @user.career %></p>
				<% elsif @user.type == 'Student' %>
					<p>学年：<%= @user.grade %></p>
					<p>自己紹介：<%= @user.description %></p>
				<% end %>
			</div>
    </div>
  </div>
</div>
<% if @user.type == 'Professor' %>
	<div class = "row">
		<div class="col s12">
			<ul class="tabs amber accent-4 tabs-transparent">
				<li class="tab"><a class="active grey-text text-darken-2" href="#about_us">About us</a></li>
				<li class="tab"><a class="grey-text text-darken-2" href="#performance">Performance</a></li>
			</ul>
			<div id="about_us" class="col s12 white">
				<h5>自己紹介：</h5><%= @lab.about_us %>
				<h5>研究室の狙い：</h5><%= @lab.purpose %>
				<h5>学生へのメッセージ：</h5><%= @lab.message %>
				<h5>連絡先：</h5><%= @lab.tel %> / <%= @lab.email %>
				<h5>所在地：</h5><%= @lab.address %>
			</div>
			<div id="performance" class="col s12 white">
				<h5>受賞・論文・学会発表等：</h5>
				<h5>研究費：</h5>
				<h5>研究設備：</h5>
			</div>
		</div>
	</div>
<% elsif @user.type == 'Student' %>
	<div class = "row">
		<div class="col s12">
			<ul class="tabs amber accent-4 tabs-transparent">
				<li class="tab"><a class="active grey-text text-darken-2" href="#research">Research</a></li>
				<li class="tab"><a class="grey-text text-darken-2" href="#appeal">Appeal</a></li>
				<li class="tab"><a class="grey-text text-darken-2" href="#other">Other</a></li>
			</ul>
			<div id="research" class="col s12 white">
				<h5>Thema：</h5><%= @user.theme %>
				<h5>Summary：</h5><%= @user.abstract %>
				<h5>Awards：</h5>
				<h5>Publication：</h5>
			</div>
			<div id="appeal" class="col s12 white">
				<h5>Self Promotion：</h5><%= @user.self_promotion %>
				<h5>Skills：</h5><%= @user.skill %>
				<h5>Qualification：</h5><%= @user.quolification %>
				<h5>Works URL：</h5>
				<% @user.products.each do |product| %>
					<%= product.name %>：<%= product.description %>
					<br>
					<%= product.refer %>
				<% end %>
				<h5>Internship：</h5><%= @user.internship %>
				<h5>Part-time job：</h5><%= @user.part_time_job %>
			</div>
			<div id="other" class="col s12 white">
				<h5>Other：</h5>
			</div>
		</div>
	</div>
<% end %>