<div style="height: 40px;">
</div>
<h4>研究内容</h4>
<div class="row">
  <div class="col s12">
  </div>
  <div class="col s12">
    <% @works.each do |work| %>
      <div class="col s12">
        <div class="card horizontal hoverable">
          <div class="card-image">
            <% if work.image.attached? %>
              <%= image_tag work.image, class: "responsive-img circle", style: "width: 200px; height: 200px; object-fit: cover;" %>
            <% else %>
              <img class="responsive-img" src="./../../work.png" style="width: 200px; height: 200; object-fit: cover">
            <% end %>
          </div>
          <div class="card-stacked">
            <div class ="card-content">
              <div class="card-title">
                <%= work.name %>
              </div>
              <p><%= work.description %></p>
            </div>
            <div class="card-action">
              <%= link_to '詳細', lab_work_path(@lab, work) %>
              <%= link_to '編集', edit_lab_work_path(@lab, work) %>
              <%= link_to '削除', lab_work_path(@lab, work), method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>

<%= link_to '新しく研究内容を追加する', new_lab_work_path %>
