<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work.description %>
</p>

<%= link_to '編集する', edit_work_path(@work) %> |
<%= link_to 'Back', lab_path(@lab) %>
