<div style="height: 40px;">
</div>
<h4>実績</h4>
<div class = "row">
  <div class="col s12">
    <ul class="tabs amber accent-4 tabs-transparent">
      <li class="tab"><a class="active grey-text text-darken-2" href="#all">All</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2018">2018</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2017">2017</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2016">2016</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2015">2015</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2014">2014</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2013">2013</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2012">2012</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2011">2011</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2010">2010</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2009">2009</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2008">2008</a></li>
    </ul>
    <div id="all" class="col s12 white">
      <% @news.each do |news| %>
        <div class="section">
            <div class="card horizontal z-depth-0";>
              <div class="card-image valign-wrapper">
                <% if news.image.attached? %>
                  <%= image_tag news.image, class: "responsive-img", style: "width: 200px; height: 200px; object-fit: cover;" %>
                <% else %>
                  <img class="responsive-img" src="./../../news.png" style="width: 200px; height: 200px; object-fit: cover">
                <% end %>
              </div>
              <div class="card-stacked">
                <div class ="card-content">
                  <div class="card-title">
                    <%= news.title %>
                  </div>
                  <!-- 現在、labの画像を表示しているが、本来はuserの画像を表示するように要変更 -->
                  <% if news.lab.image.attached? %>
                    <%= image_tag news.lab.image, class: "responsive-img z-depth-0 right circle", style: "width: 64px; height: 64px; object-fit: cover;" %>
                  <% else %>
                    <img class="responsive-img z-depth-0 right circle" src="./../../student-icon.png" style= "width: 64px; height: 64px; object-fit: cover;">
                  <% end %>
                  <p><%= news.description %></p>
                  <p><%= news.release_date %></p>
                  <p><%= news.category.name %></p>
                  #確認のための４６行目
                  <p><%= news.user_id %></p>
                </div>
                <div class="card-action">
                  <%= link_to '詳細', lab_news_path(@lab, news) %>
                  <%= link_to '編集', edit_lab_news_path(@lab, news) %>
                  <%= link_to '削除', lab_news_path(@lab, news), method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    </div>
    <div id="2018" class="col s12 white">2018</div>
    <div id="2017" class="col s12 white">2017</div>
    <div id="2016" class="col s12 white">2016</div>
    <div id="2015" class="col s12 white">2015</div>
    <div id="2014" class="col s12 white">2014</div>
    <div id="2013" class="col s12 white">2013</div>
    <div id="2012" class="col s12 white">2012</div>
    <div id="2011" class="col s12 white">2011</div>
    <div id="2010" class="col s12 white">2010</div>
    <div id="2009" class="col s12 white">2009</div>
    <div id="2008" class="col s12 white">2008</div>
  </div>
</div>
<br>

<%= link_to 'ニュース作成', new_lab_news_path %>
