<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @news.description %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @news.release_date %>
</p>

<p>
  <strong> Category</strong>
  <%= @news.category.name %>
</p>

<%= link_to 'Edit', edit_lab_news_path(@lab, @news) %> |
<%= link_to 'Back', lab_path(@lab) %>
