<!-- デザイン用 -->
<div class = "row">
  <div style="height: 40px;">
  </div>
  <div class="col s12">
    <h3>Photos</h3>
  </div>
  <div class="col s12">
    <ul class="tabs amber accent-4 tabs-transparent">
      <li class="tab"><a class="active grey-text text-darken-2" href="#all">All</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2018">2018</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2017">2017</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2016">2016</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2015">2015</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2014">2014</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2013">2013</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2012">2012</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2011">2011</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2010">2010</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2009">2009</a></li>
      <li class="tab"><a class="grey-text text-darken-2" href="#2008">2008</a></li>
    </ul>
    <div id="all" class="white">
      <div class="row">
        <% @albums.each do |album| %>
          <div class="col s12 m6 l4">
            <div class="card">
              <div class="card-image">
                <% if album.images.attached? %>
                  <%= image_tag album.images.first %>
                <% end %>
                <span class="card-title"><%= album.name %></span>
              </div>
              <div class="card-action">
                <%= album.created_at %>
                <%= album.updated_at %>
                <%= link_to 'アルバム詳細へ', lab_album_path(@lab, album) %>
                <%= link_to 'アルバム編集へ', edit_lab_album_path(@lab, album) %>
                <%= button_to 'アルバム削除', lab_album_path(@lab, album), method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="2018" class="col s12 white">2018</div>
    <div id="2017" class="col s12 white">2017</div>
    <div id="2016" class="col s12 white">2016</div>
    <div id="2015" class="col s12 white">2015</div>
    <div id="2014" class="col s12 white">2014</div>
    <div id="2013" class="col s12 white">2013</div>
    <div id="2012" class="col s12 white">2012</div>
    <div id="2011" class="col s12 white">2011</div>
    <div id="2010" class="col s12 white">2010</div>
    <div id="2009" class="col s12 white">2009</div>
    <div id="2008" class="col s12 white">2008</div>
  </div>
</div>

<%= link_to 'アルバム作成', new_lab_album_path %>