<!-- デザイン用 -->
<div class = "row">
  <div style="height: 40px;">
  </div>
  <div class="col s12">
    <h3>Photos</h3>
  </div>
  <div class="col s12">
    <ul class="tabs amber accent-4 tabs-transparent">
      <li class="tab"><a class="active grey-text text-darken-2" href="#all">All</a></li>
      <% @albums.get_album_period.reverse_each do  |year| %>
        <li class="tab"><%= link_to year, "#"+year, class: "grey-text text-darken-2" %></li>
      <% end %>
    </ul>
    <div id="all" class="white">
      <div class="row">
        <% @albums.each do |album| %>
          <div class="col s12 m6 l4">
            <div class="card">
              <div class="card-image">
                <% if album.images.attached? %>
                  <%= image_tag album.images.first %>
                <% end %>
                <span class="card-title"><%= album.name %></span>
              </div>
              <div class="card-action">
                <%= link_to '詳細', lab_album_path(@lab, album) %>
                <%= link_to '編集', edit_lab_album_path(@lab, album) %>
                <%= button_to '削除', lab_album_path(@lab, album), method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% @albums.get_album_period.reverse_each do  |year| %>
      <%= content_tag(:div, id: year, class: "white") do %>
        <div class="row">
          <% @albums.get_album_during_year(year).each do |album| %>
            <div class="col s12 m6 l4">
              <div class="card">
                <div class="card-image">
                  <% if album.images.attached? %>
                    <%= image_tag album.images.first %>
                  <% end %>
                  <span class="card-title"><%= album.name %></span>
                </div>
                <div class="card-action">
                  <%= link_to '詳細', lab_album_path(@lab, album) %>
                  <%= link_to '編集', edit_lab_album_path(@lab, album) %>
                  <%= button_to '削除', lab_album_path(@lab, album), method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'アルバム作成', new_lab_album_path, class: "btn white grey-text text-darken-2" %>