<h4>ユーザー用ページ</h4>
<p>こんにちは、<%= current_user.id %>さん</p>

<!-- Show user icon -->
<% if current_user.image.attached? %>
  <p>
    <strong>アイコン画像:</strong>
    <%= image_tag current_user.image, :size => "100x100" %>
  </p>
<% end %>


<% if current_user.has_labs? %>
    <h4>所属研究室一覧</h4>
    <% current_user.labs.each do |lab| %>
        <p><%= link_to lab.name, lab , class: "btn grey-text text-darken-2 white"%>
        <%= link_to 'ニュース作成', new_lab_news_path(lab.id) %></p><br>
    <% end %>
<% end %>

<%= link_to '研究室登録', new_lab_path, class: "btn grey-text text-darken-2 white" %>