<%= form_with(model: lab, local: true) do |form| %>
  <% if lab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lab.errors.count, "error") %> prohibited this lab from being saved:</h2>

      <ul>
      <% lab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :研究室名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :大学 %>
    <%= select_tag 'university', options_from_collection_for_select(@universities, :id, :name) , style: "display: block;" %>
  </div>

  <div class="field" style="display: none">
    <%= form.label :コース %>
    <%= select_tag 'cources', options_from_collection_for_select(@universities, :id, :name) , style: "display: block;" %>
  </div>

  <div class="field" style="display: none">
    <%= form.label :所属専攻名 %>
    <%= select_tag 'major', options_from_collection_for_select(@universities, :id, :name) , style: "display: block;" %>
  </div>

  <div class="field">
    <%= form.label :研究室紹介文 %>
    <%= form.text_field :about_us %>
  </div>

  <div class="field">
    <%= form.label :研究室のねらい %>
    <%= form.text_field :purpose %>
  </div>

  <div class="field">
    <%= form.label :メッセージ %>
    <%= form.text_field :message %>
  </div>

  <div class="field">
    <%= form.label :設備 %>
    <%= form.text_field :facility %>
  </div>

  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :電話番号 %>
    <%= form.text_field :tel %>
  </div>

  <div class="field">
    <%= form.label :FAX %>
    <%= form.text_field :fax %>
  </div>

  <div class="field">
    <%= form.label :連絡先メールアドレス %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :アクセス方法 %>
    <%= form.text_field :access %>
  </div>

  <div class="field">
    <%= form.label :所在地の経度 %>
    <%= form.text_field :lon %>
  </div>

  <div class="field">
    <%= form.label :所在地の緯度 %>
    <%= form.text_field :lat %>
  </div>

  <div class="field">
    <%= form.label :研究室の画像 %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit "完了" , class: "btn grey-text text-darken-2 white" %>
  </div>
<% end %>
