<h1>Editing Lab</h1>

<%= render 'form', lab: @lab %>

<%= link_to '研究室詳細', @lab %> |
<%= link_to '研究室一覧', labs_path %> |
<%= link_to 'ニュース一覧', lab_news_index_path(@lab) %> |
<%= link_to 'アルバム一覧', lab_albums_path(@lab) %> |
<%= link_to '研究内容一覧', lab_works_path(@lab) %> |
<%= link_to 'メンバー招待', invites_new_lab_path(@lab) %>
