<p id="notice"><%= notice %></p>

<h1>SearchLabs</h1>

<%= form_tag("/labs/", method: "get") do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>

<% unless @labs.nil? %>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Majar</th>
      <th>About us</th>
      <th>Purpose</th>
      <th>Message</th>
      <th>Facility</th>
      <th>Address</th>
      <th>Tel</th>
      <th>Fax</th>
      <th>Email</th>
      <th>Access</th>
      <th>Lon</th>
      <th>Lat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @labs.each do |lab| %>
      <tr>
        <% if lab.image.attached? %>
          <td><%= image_tag lab.image, :size => "30x30" %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= lab.name %></td>
        <td><%= lab.majar %></td>
        <td><%= lab.about_us %></td>
        <td><%= lab.purpose %></td>
        <td><%= lab.message %></td>
        <td><%= lab.facility %></td>
        <td><%= lab.address %></td>
        <td><%= lab.tel %></td>
        <td><%= lab.fax %></td>
        <td><%= lab.email %></td>
        <td><%= lab.access %></td>
        <td><%= lab.lon %></td>
        <td><%= lab.lat %></td>
        <td><%= link_to '研究室詳細', lab %></td>
        <% if lab.is_lab_user? current_user %>
        <td><%= link_to '研究室編集', edit_lab_path(lab) %></td>
        <td><%= link_to '研究室削除', lab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @labs %>

<% end %>
