<p id="notice"><%= notice %></p>

<div class="row">
  </div>

<div class="row">
  <%= form_tag("/labs/", method: "get", class: "col s12") do %>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <%= search_field_tag(:search, @query_string, id: "icon_prefix2", class: "materialize-textarea") %>
        <label for="icon_prefix2">検索</label>
        <i class="material-icons" id="delete-icon">close</i>
      </div>
    </div>
  <% end %>
  <div class="col s12">
    <h3>Search labs</h3>
  </div>
  <div class="col s12">
    <% @labs.each do |lab| %>
      <div class="col s12">
        <div class="card horizontal hoverable">
          <div class="card-image">
          <% if lab.image.attached? %>
            <%= image_tag lab.image, class: "responsive-img z-depth-1 right circle", style: "width: 135px; height: 100%; object-fit: cover;" %>
          <% else %>
            <!-- no image を設定する予定 -->
          <% end %>
          </div>
          <div class="card-stacked">
            <div class ="card-content">
              <div class="card-title">
                <span class="card-title"><%= link_to lab.name, lab_path(lab) %></span>
                <p>
                  <%= lab.majar %><br/>
                  <% unless lab.works.empty? %>
                    研究テーマ: <%= lab.work_names %>
                  <% end %>
                </p>
              </div>
            </div>
            <div class="card-action">
              <% if lab.is_lab_user?(current_user) %>
              <%= link_to '詳細', lab_path(lab) %>
              <%= link_to '編集', edit_lab_path(lab) %>
              <%= button_to '削除', lab_path(lab), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @labs %>

<script type="text/javascript">
  var deleteSearchTextEvent = function () {
    var inputElement = document.getElementById('icon_prefix2');
    inputElement.value = "";
  }
  document.getElementById('delete-icon').addEventListener('click', deleteSearchTextEvent);
</script>