<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lab.name %>
</p>

<p>
  <strong>Majar:</strong>
  <%= @lab.majar %>
</p>

<p>
  <strong>About us:</strong>
  <%= @lab.about_us %>
</p>

<p>
  <strong>Main image:</strong>
  <%= @lab.main_image %>
</p>

<p>
  <strong>Sub image:</strong>
  <%= @lab.sub_image %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @lab.purpose %>
</p>

<p>
  <strong>Message:</strong>
  <%= @lab.message %>
</p>

<p>
  <strong>Facility:</strong>
  <%= @lab.facility %>
</p>

<p>
  <strong>Address:</strong>
  <%= @lab.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @lab.tel %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @lab.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lab.email %>
</p>

<p>
  <strong>Access:</strong>
  <%= @lab.access %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @lab.lon %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @lab.lat %>
</p>

<%= link_to 'Edit', edit_lab_path(@lab) %> |
<%= link_to 'Back', labs_path %>
