<!-- デザイン用 -->
<div class="slider">
  <ul class="slides">
    <li>
      <% if @lab.image.attached? %>
        <%= image_tag @lab.image %>
      <% else %>
        <img src="./../home1.jpg">
      <% end %>
      <div class="caption center-align">
        <h3>HOME 1</h3>
        <h5 class="light grey-text text-lighten-1">HOME 1</h5>
      </div>
    </li>
    <li>
      <% if @lab.image.attached? %>
        <%= image_tag @lab.image %>
      <% else %>
        <img src="./../home2.jpg">
      <% end %>
      <div class="caption right-align">
        <h3>HOME 2</h3>
        <h5 class="light grey-text text-lighten-1">HOME 2</h5>
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <h5>研究内容</h5>
  <% @works.each do |work| %>
    <div class="col s12 m3 l2">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <% if work.image.attached? %>
            <%= image_tag work.image %>
          <% else %>
          <!-- 代替え画像 -->
          <img class="activator" src="./../works_img/work-6.png">
          <% end %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= work.name %><i class="material-icons right">more_vert</i></span>
          <p><%= link_to '詳細', lab_work_path(@lab, work) %></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= work.name %><i class="material-icons right">close</i></span>
          <p><%= work.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div class="row">
  <h5>お知らせ</h5>
  <% @news.each do |news| %>
    <div class="col s12">
      <div class="card horizontal hoverable">
        <div class="card-image valign-wrapper">
          <% if news.image.attached? %>
            <%= image_tag news.image, class: "responsive-img vertical-center", style: "width: 200px; height: 200px; object-fit: cover;" %>
          <% else %>
            <img class="responsive-img" src="./../works_img/work-8.png" style="width: 200px; height: 200px; object-fit: cover">
          <% end %>
          <!--  worksテーブルから読み込む予定 -->
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="card-title">
              <%= news.title %>
            </div>
            <% if news.lab.image.attached? %>
              <%= image_tag news.lab.image, class: "responsive-img z-depth-0 right circle", style: "width: 64px; height: 64px; object-fit: cover;" %>
            <% else %>
              <img class="responsive-img z-depth-0 right circle" src="./../../student-icon.png" style= "width: 64px; height: 64px; object-fit: cover;">
            <% end %>
            <p><%= news.description %></p>
            <p><%= news.release_date %></p>
          </div>
          <div class="card-action">
            <%= link_to '詳細', lab_news_path(@lab, news) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @lab.is_lab_user?(current_user) %>
  <%= link_to '研究室編集へ', edit_lab_path(@lab) %> |
  <%= link_to '研究室一覧へ', labs_path %>
<% end %>
