<!DOCTYPE html>
<html>
    <head>
        <title>DeviseRails5</title>
        <%= csrf_meta_tags %>

<!--         <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="grey lighten-5">
        <header>
            <% if user_signed_in? %>
                <div class="navbar-fixed">
                    <nav class="nav-extended white">
                        <div class="nav-wrapper">
                            <% if @lab %>
                                <%= link_to @lab.name, lab_path(@lab) , class: "brand-logo grey-text text-darken-2" %>
                            <% end %>
                            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons grey-text text-darken-2">menu</i></a>
                            <ul id="nav-mobile" class="right hide-on-med-and-down">
                                <li><%= link_to 'GoodLab', root_path, class: "grey-text text-darken-2 white" %></li>
                                <li><%= link_to current_user.id, homes_show_path, class: "btn grey-text text-darken-2 white" %></li>
                                <li><%= link_to 'プロフィール変更', edit_user_registration_path, class: "btn grey-text text-darken-2 white" %></li>
                                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn grey-text text-darken-2 white" %></li>
                            </ul>
                        </div>

                        <% if @lab %>
                            <!-- メニュー -->
                            <div class="nav-content">
                                <div id="nav-mobile" class="row hide-on-med-and-down">
                                    <div class="col s1 center"><%= link_to 'Home', lab_path(@lab), class: "grey-text text-darken-2" %></div>
                                    <div class="col s1 center"><%= link_to 'About us', lab_about_path(@lab), class: "grey-text text-darken-2" %></div>
                                    <div class="col s1 center"><%= link_to 'Research', lab_works_path(@lab), class: "grey-text text-darken-2" %></div>
                                    <div class="col s1 center"><%= link_to 'Publications', lab_news_path(@lab), class: "grey-text text-darken-2" %></div>
                                    <div class="col s1 center"><%= link_to 'People', lab_people_path(@lab), class: "grey-text text-darken-2" %></div>
                                    <div class="col s1 center"><%= link_to 'Photos', lab_albums_path(@lab), class: "grey-text text-darken-2" %></div>
                                    <div class="col s1 center"><%= link_to 'Contact us', lab_contact_path(@lab), class: "grey-text text-darken-2" %></div>
                                </div>
                            </div>
                        <% end %>
                    </nav>
                </div>
                <!-- サイド ナビゲーションバー-->
                <ul class="sidenav" id="mobile-demo">
                    <li>
                        <div class="user-view">
                            <div class="background amber accent-4">
                                <!-- DBから読み込み予定 -->
                            </div>
                            <!-- DBから読み込み予定 -->
                            <% if current_user.image.attached? %>
                                <a href="#user"><%= image_tag current_user.image, class: "circle" %></a>
                            <% end %>
                            <a href="#name"><%= link_to current_user.id, homes_show_path, class: "white-text name" %></a>
                            <a href="#email" class="white-text email"><%= current_user.email %></a>
                        </div>
                    </li>
                    <li><%= link_to 'GoodLab', root_path, class: "grey-text text-darken-2" %></li>
                    <li><div class="divider"></div></li>
                    <li><%= link_to 'プロフィール変更', edit_user_registration_path, class: "grey-text text-darken-2" %></li>
                    <li><div class="divider"></div></li>
                    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "grey-text text-darken-2" %></li>
                    <li><div class="divider"></div></li>
                    <% if current_user.get_prime_lab %>
                        <li><%= link_to 'Home', current_user.get_prime_lab, class: "grey-text text-darken-2" %></li>
                        <li><div class="divider"></div></li>
                        <li><%= link_to 'About us', root_path, class: "grey-text text-darken-2" %></li>
                        <li><div class="divider"></div></li>
                        <li><%= link_to 'Research', lab_works_path(current_user.get_prime_lab), class: "grey-text text-darken-2" %></li>
                        <li><div class="divider"></div></li>
                        <li><%= link_to 'Publications', lab_news_index_path(current_user.get_prime_lab), class: "grey-text text-darken-2" %></li>
                        <li><div class="divider"></div></li>
                        <li><%= link_to 'People', root_path, class: "grey-text text-darken-2" %></li>
                        <li><div class="divider"></div></li>
                        <li><%= link_to 'Photos', lab_albums_path(current_user.get_prime_lab), class: "grey-text text-darken-2" %></li>
                        <li><div class="divider"></div></li>
                        <li><%= link_to 'Contact us', root_path, class: "grey-text text-darken-2" %></li>
                    <% end %>
                </ul>
                <% else %>
                    <div class="navbar-fixed">
                        <nav class="white">
                            <div class="nav-wrapper">
                                <%= link_to 'GoodLab', root_path, class: "brand-logo grey-text text-darken-2" %>
                                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons grey-text text-darken-2">menu</i></a>
                                <ul id="nav-mobile" class="right hide-on-med-and-down">
                                    <li><%= link_to 'サインアップ', new_user_registration_path, class: "btn grey-text text-darken-2 white" %></li>
                                    <li><%= link_to 'ログイン', new_user_session_path, class: "btn grey-text text-darken-2 white" %></li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                    <!-- サイド ナビゲーションバー-->
                    <ul class="sidenav" id="mobile-demo">
                        <li><%= link_to 'サインアップ', new_user_registration_path %></li>
                        <li><%= link_to 'ログイン', new_user_session_path %></li>
                    </ul>
                <% end %>
            </div>
        </header>
<!--         <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p> -->

        <%= yield %>

        <!-- フッター -->
        <footer class = "page-footer white">
            <div class="footer-copyright white grey-text text-darken-2">
                <div class="container center">
                    Copyright© KHKO Lab. All rights reserved.
                </div>
            </div>
        </footer>

        <!-- Compiled and minified JavaScript -->
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- For select box -->
        <script>
            $(document).ready(function(){
                $('select').formSelect();
            });
        </script>
        <!-- For Sidenav -->
        <script>
            $(document).ready(function(){
                $('.sidenav').sidenav();
             });
        </script>
        <!-- For slider -->
        <script>
            $(document).ready(function(){
            $('.slider').slider();
            });
        </script>
        <!-- For tabs -->
        <script>
            $(document).ready(function(){
            $('.tabs').tabs();
              });
        </script>
        <!-- For collapsible -->
        <script>
            $(document).ready(function(){
            $('.collapsible').collapsible();
            });
        </script>
        <!-- For carousel -->
<!--         <script>
            $(document).ready(function(){
            $('.carousel').carousel();
            });
            $('.carousel.carousel-slider').carousel({
                fullWidth: true,
                indicators: true
            });
        </script> -->
    </body>
</html>